[idle_timeout]
timeout: 1800
gcode:
    {% if printer.pause_resume.is_paused %}
        #M118 Idle Timeout reached
        #M117 Disable hotend_fan
        #SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
        #STATUS_READY
    {% else %}
        SLEEP
    {% endif %}

[gcode_macro SLEEP]
gcode:
  M84
  M107
  STOP_TEMP_MONITOR
  TURN_OFF_HEATERS
  STATUS_OFF
  #UPDATE_DELAYED_GCODE ID=_DISABLE_COOLING DURATION=300
  #UPDATE_DELAYED_GCODE ID=_DISABLE_EXHAUST DURATION=300
  # SET_FAN_SPEED FAN=chamber_fans SPEED=0