[gcode_macro print_start_routine_test]
gcode:
    STATUS_HOMING
    G28 #home all axis
    
    Attach_Probe_Lock #prevent probe docking until unlocked, from klicky

    STATUS_LEVELING
    QUAD_GANTRY_LEVEL #V2.4
    
    #CLEAN_NOZZLE #requires brush/purge bucket, from decontaminator
    STATUS_HOMING
    G28 Z #rehome Z axis

    STATUS_CALIBRATING_Z
    CALIBRATE_Z #automatic Z offset, from klipper z calibration

    G0 X175 Y175 Z10 F3600 #move extruder 10mm above bed centre