[gcode_macro SET_CASELIGHTS]
variable_value: 1
gcode:
    {% if 'VALUE' not in params %}
        {action_raise_error("Parameter missing from 'SET_CASELIGHTS'")}
    {% endif %}

    {% set power_state = params.VALUE %}

    {% if power_state %}
        #{action_raise_error("Setting WLED on")}
        {action_call_remote_method("set_wled_state", strip="lights", state=True, preset=1)}
    {% else %}
        #{action_raise_error("Setting WLED off")}
        {action_call_remote_method("set_wled_state", strip="lights", state=False)}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=SET_CASELIGHTS VARIABLE=value value={power_state}


[gcode_macro CASELIGHTS_OFF]
gcode:
    {action_call_remote_method("set_wled_state", strip="lights", state=False)}