[gcode_macro START_PRINT]
gcode:
    #Get Printer built volume dimensions
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
    {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}

    #Get Bed and Extruder temperature from Slicer GCode
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}

    G90 #set absolute positioning
    M107 #disable part cooling fan

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP} #heat up bed
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP} #hold extruder at 150    

    M117 Homing
    G28
    G0 X{X_MAX/2} Y{Y_MAX/2} Z50 F3600 #move extruder 50mm above bed centre

    M117 Heating bed
    #Preheat nozzle and bed
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP} #wait for bed to hit target temp                            

    #Home
    M117 Homing
    G28 Z
    BED_MESH_PROFILE LOAD=default
    #Move up to clean bed
    G1 Y{Y_MAX - 20} Z{Z_MAX/4.0} F6000                

    M117 Heating extruder
    #Heat nozzle and bed
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}                     

    #Precondition extruder
    M83 #relative extruder mode
    G92 E0

    M117 Printing