[gcode_macro SET_LED_PROGRESS]
gcode:
    #{% set progress = printer.heater_bed.temperature / printer.heater_bed.target | float %}
    {% set prog = params.progress|default(0.5)|float %}
    
    {% set red = prog * 255 %}
    
    {% set blue = ((1-prog) * 255) * 65536 %}

    {% set red_decimal = blue + red|int %}

    M118 RED: {red_decimal}
    RUN_SHELL_COMMAND CMD=set_wled_color PARAMS={red_decimal}
    #{% set prog = params.progress|default(0.5)|float %}
    #{action_call_remote_method("set_wled", strip=lights, red=progress, green=0, blue=1-progress, white=0, index=-1, transmit=1)}

[gcode_macro SET_WLED]
description: SET_LED like functionality for WLED, applies to all active segments
gcode:
    {% set strip = params.STRIP|string %}
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set index = params.INDEX|default(-1)|int %}
    {% set transmit = params.TRANSMIT|default(1)|int %}

    {action_call_remote_method("set_wled",
                               strip=strip,
                               red=red, green=green, blue=blue, white=white,
                               index=index, transmit=transmit)}

[gcode_shell_command set_wled_color]
command: sh /home/lee/klipper_config/sp5/wled_set_colors.sh
timeout: 30.
verbose: True

[gcode_macro update_wled_colors]
gcode:
    RUN_SHELL_COMMAND CMD=set_wled_color PARAMS=16711680,16768512


#[delayed_gcode _update_leds_loop]
#initial_duration: 99999 
#gcode:
#    _set_leds
#    {% if printer.heater_bed.target == 0 %}
#        UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=0
#    {% else %}
#        UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=5

#[gcode_macro heat_test]
#    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=5
#    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=50
#    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=0
