[gcode_macro SET_LED_PROGRESS]
gcode:
    #{% set progress = printer.heater_bed.temperature / printer.heater_bed.target | float %}
    {% set progress = params.progress|default(60)|float %}
    {action_call_remote_method("set_wled", strip=lights, red=progress, green=0, blue=1-ratio, white=0, index=-1, transmit=transmit)}



#[delayed_gcode _update_leds_loop]
#initial_duration: 99999 
#gcode:
#    _set_leds
#    {% if printer.heater_bed.target == 0 %}
#        UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=0
#    {% else %}
#        UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=5

#[gcode_macro heat_test]
#    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=5
#    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=50
#    UPDATE_DELAYED_GCODE ID=_update_leds_loop DURATION=0