#[gcode_shell_command pull_config]
#command: rclone copy "OneDrive:Design/3d Printing/_firmware/Ender 3 MAX/Klipper" /home/lee/klipper_config/printer_1
#timeout: 240
#verbose: True

#[gcode_shell_command push_config]
#command: rclone copy /home/lee/klipper_config/printer_1 "OneDrive:Design/3d Printing/_firmware/Ender 3 MAX/Klipper" 
#timeout: 240
#verbose: True