[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    STATUS_BUSY
    STOP_PRINT_MONITOR
    M400                           ; wait for moves to finish
    G92 E0
    G1 E-3 F300                    ; retract
    TURN_OFF_HEATERS
    M107                           ; part fan off

    # Raise Z by 100mm, clamped so we never exceed Z=300
    {% set z_now = printer.toolhead.position.z %}
    {% set z_target = [z_now + 100, 300] | min %}
    {% set z_lift = z_target - z_now %}
    {% if z_lift > 0 %}
        G91
        G0 Z{z_lift} F3600
        G90
    {% endif %}

    G0 X175 Y350 F6000            ; park at rear
    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT
    _SET_CASE_LEDS PRESET=7
    UPDATE_DELAYED_GCODE ID=_case_leds_complete_to_idle DURATION=900
