[gcode_macro PRINT_START]
gcode:
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    STATUS_BUSY
    G90 #set absolute positioning
    M107 #disable part cooling fan
    G0 X{X_MAX/2} Y{Y_MAX/2} Z50 F3600 #move extruder 50mm above bed centre

    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP} #heat up bed
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150 #hold extruder at 150
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP} #wait for bed to hit target temp

    STATUS_HOMING
    G28 #home all axis
    
    Attach_Probe_Lock #prevent probe docking until unlocked, from klicky

    STATUS_LEVELING
    QUAD_GANTRY_LEVEL #V2.4
    
    #CLEAN_NOZZLE #requires brush/purge bucket, from decontaminator
    STATUS_HOMING
    G28 Z #rehome Z axis

    STATUS_CALIBRATING_Z
    CALIBRATE_Z #automatic Z offset, from klipper z calibration
    
    STATUS_MESHING
    #BED_MESH_PROFILE LOAD=default
    #BED_MESH_CALIBRATE #generate new mesh
    
    STATUS_BUSY
    Dock_Probe_Unlock #removes probe lock
    G0 X175 Y175 Z50 F3600 #move extruder 50mm above bed centre

    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}

    M83 #Relative extruder mode
    G92 E0 #Reset extruder to 0

    STATUS_PRINTING